<div class="container">
<h1>
<span>{{moive.Title}}</span>
<span class="year"></span>
</h1>
<article class="clearfix">
<div class="moive-holder">
<div class="movie-cover"><img src="{{moive.Image}}"></div>
<div class="movie-property">
<span><span class="label">导演:</span> 
<span ng-repeat="director in moive.Directors" repeat-delimiter="/">{{director}}</span>
</span><br> 
<span><span class="label">主演:</span> 
<span ng-repeat="cast in moive.Casts" repeat-delimiter="/">{{cast}}</span>
</span><br> 
<span><span class="label">类型:</span>
<span ng-repeat="genre in moive.Genres" repeat-delimiter="/">{{genre}}</span>
</span><br> 
<span>
<span class="label">地区:</span>
<span ng-repeat="country in moive.Countries" repeat-delimiter="/">{{country}}</span>
</span>
<br> 
<span>
<span class="label">上映时间:</span> {{moive.Year}}
</span>
<br> 
<span class="label">
	<a href="{{moive.Alt}}" target="_blank" rel="nofollow">
<i class="iconfont icon-doubanfangxing"></i></a>
<span class="movie-rating"><a href="{{moive.Alt}}" target="_blank" rel="nofollow"> <b>
{{moive.Rating}}
</b></a></span>
</span>


</div>
</div>
<div class="movie-desc">
<span>{{moive.Summary}}</span>
</div>
<div class="movie-link">
<div class="col-title">
<div class="col-md-7 col"> 
<span>文件名</span>
</div>
<div class="col-md-3 col"> 
<span>大小</span>
</div>
<div class="col-md-2 col"> 
<span>清晰度</span>
</div>
</div>
<div class="col-list">
<div class="link" ng-repeat="downlink in moive.Download">
<div class="col-md-7 col-link"> 
	<span class="name-text">{{downlink.Name}}</span>
	<div class="btns">
		<a class="btn-download" data="{{downlink.Href}}" href="javascript:;">
			<i class="fa fa-download"></i>
		</a>
	</div>
</div>
<div class="col-md-3 col-link"> 
<span>{{downlink.Size}}</span>
</div>
<div class="col-md-2 col-link"> 
<span>{{downlink.Format}}</span>
</div>
</div>
</div>
</div>
</article>
</div>
</h1>
</div>