body{font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif}
.wrapper{max-height: 100%; min-height: 100%;width: 100%;}
.global-nav{background-color: #323a37;min-height: 6px;}
.site-header{background-color: #f0f3f5;}
.head-name{float: left;height: 56px;width: 145px;margin: 0 13px 0 0;background:url(../img/movie_logo.png) no-repeat 0 12px;}
.head-name a{display: block;width: 100%;height: 100%;overflow: hidden;line-height: 56px;font:0/0 a;}
.head-search{position: relative;overflow: hidden;zoom: 1;padding: 10px 0 15px 0;}
.head-nav li {
float: left;
margin-left: 20px;
}